
body,  html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Domine, serif;
}

body {
    background-color: #378EFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    top: 5px;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    margin: auto;
}

footer {
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 10px;
    text-align: center;
    font-size: 11px;
    justify-content: center;
}

h1 {
    text-align: center;
    font-family: 'Domine', serif;
    font-size: 22px;
}

h2 {
    text-align: center;
    font-family: 'Domine', serif;
    font-size: 32px;
}

.container {
    width: 90%;
    height: 80%;
    margin: auto;
    background-color: #F6F2F2;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 5px;
}

.inner-container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    padding: 30px 50px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.05);
}

.inside {
    height: 80%;
    margin: 20px 20%;
    padding: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 2px dashed #8EC0FF;
}

.inside-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}

.button-container {
    margin-top: 50px;
    justify-content: center;
    display: flex;
}

#downloadButton,
#uploadButton {
    background-color: #FAC636;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
    padding: 16px 32px;
    border-radius: 5px;
    border-color: #FAB936;
    cursor: pointer;
}

#downloadButton:hover,
#uploadButton:hover {
    background-color: #FAB936;
    color: #ECECEC;
}

@media only screen and (max-width: 768px) {

    header {
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 16px;
    }
    .inner-container {
        width: 100%;
        padding: 10px;
    }

    .element {
        margin-top: -10px;
    }

    .inside {
        margin: 10px;
        padding: 10px;
    }

    .inside-content {
        margin: 10px;
        padding: 10px;
    }

    #fileChooser {
        width: 100%;
        box-sizing: border-box;
    }

    .inner-container-content #inside {
        margin: 20px 0;
        padding: 20px;
    }


    .button-container {
        margin-top: -1%;
    }
}