<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpDown</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/download.js"></script>
</head>
<body>
<a href="http://localhost:8080/">
<img src="/img/logo.png" alt="Logo" style="position: absolute; width: 240px; height: 60px">
</a>
<div class="container">
    <div class="inner-container">
        <div class="inner-container-content">
            <h2>There is no such file!</h2>
        </div>
    </div>
</div>
</body>
</html>