<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UpDown</title>
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/download.js"></script>
</head>
<body>

<div class="container">
    <div class="inner-container">
        <div class="inner-container-content">
            <button id="downloadButton" onclick="downloadFile();">Download</button>
            <p><a href="#" id="downloadURL"></a></p>
        </div>
    </div>
</div>
</body>
</html>